*{
    margin:0;
    padding:0;
    font-family: sans-serif;   
}

h1 {
    font-size: 2em;
    color:white;
    
    text-shadow: 0 0 3px black;
    text-align: center;

    margin:1em auto 0 auto;
    padding: 5px 0;

    width: 40%;
    background-color: rgb(57, 12, 182);
}

#tabla-multiplicar{
    text-align: center;
    margin: 0 auto;
    width: 40%;
    background-color: #6825ec;
    padding-bottom: 30px;

    h2{
        color:white;
    }
    
    .tabla {
        margin:0 auto;
        width: 60%;
        background-color: #3b0b9b;
    }
    
    td {
        padding: 2px;
        background-color: rgb(71, 129, 255);
    }
    
    .resultado{
        background-color:rgb(127, 107, 255);
    }
}

.invalid-text{
    font-size: 25px;
    text-align: center;

    color:white;

    margin: 0 auto;
    margin-top: 25px;

    border:5px solid rgb(73, 43, 126);
    border-radius: 7px 7px;

    padding: 10px 0;

    background-color: #5f24d6;
    
    width: 40%;
}

.refresh{
    display: flex;

    font-size: 20px;
    font-family: sans-serif;

    text-align: center;
    text-shadow: 0 0 5px black;

    color:white;

    background-color: #7e3ffd;
    
    border:1px solid white;
    border-radius:3px 3px;

    width: 150px;
    
    padding: 5px;
    margin:20px auto;

    &:hover{
        cursor:pointer;
    }
}
