@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin:0;
    padding: 0;
}

body{
    background-color:white;
    font-family: 'Rubik', sans-serif;
}

img{
    width: 5em;
}
/* Header */
header{
    background-color: #942dad;
    
    display:flex;
    position: sticky;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding: 1.5em;

    box-shadow:-12px 10px 25px rgb(0, 0, 0, 0.2);
}

header > #logo{
    margin-left: 1.2em;
}

.nav-items{
    font-size: 25px;
    margin-right: -10px;
}

.nav-items > a{
    margin-right: 10px;

    color:white;

    cursor:pointer;
}

/* Productos */
.Prod-cont {
    width: 80%;
    margin:1.5em auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 1.5em;
}

.productos{
    width: 100%;

    background-color: rgb(212, 212, 212);

    border-radius:3px 3px;
}

.productos > h2{
    font-size: 25px;
    width: 80%;

    margin:0 auto;
    margin-top: 5px;
}

.productos > p{
    font-size: 25px;
    width: 80%;

    margin:0 auto;
}

.productos > button{
    display:flex;

    justify-content: center;

    font-size: 25px;

    width: 80%;

    padding: 10px;
    
    margin:0 auto;
    margin-top: 10px;

    background-color: #dd72f8;
    
    cursor:pointer;

    border:3px solid rgb(216, 93, 247, 0.5);
    border-radius: 5px 5px;
}

.productos > img{
    display:flex;

    margin:0 auto;
    margin-top: 1.5em;
    
    width: 80%;
    height: 60%;
    object-fit:cover;
}